.phone-wrap.vue-tel-input {
  @apply rounded-none border-select text-left;
}
.phone-wrap .vti__dropdown-list {
  @apply bg-dishes border-select;
}
.phone-wrap .vti__dropdown:hover,
.phone-wrap .vti__dropdown.disabled,
.phone-wrap .vti__dropdown.open {
  @apply bg-dishes;
}
.phone-wrap .vti__dropdown-item.highlighted {
  @apply bg-black;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-fade-absolute-enter-active {
  transition: all .3s ease;
}
.slide-fade-absolute-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-absolute-enter, .slide-fade-absolute-leave-to {
  transform: translateX(-1000%);
  opacity: 0;
}
