@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "CaviarDreams";
  font-weight: 400;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: "CaviarDreams";
  font-weight: 700;
  src: url(../fonts/CaviarDreams-Bold.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "OpenSans";
}
* {
  outline: none!important;
}

@layer components {
  .btn {
    @apply w-full block uppercase text-btn border border-btn lg:text-base text-sm py-3 px-4 text-center hover:text-btn-hover transition-all duration-150
  }
  .container {
    @apply px-4;
    @screen sm {
      @apply px-6;
    }
    @screen lg {
      @apply px-8;
    }
  }
}
