@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@font-face {
  font-family: "Caviar Dreams";
  font-weight: 400;
  src: url(../fonts/CaviarDreams.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Caviar Dreams";
  font-weight: 700;
  src: url(../fonts/CaviarDreams-Bold.ttf);
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .col-count-1 {
      column-count: 1;
    }
    .col-count-2 {
      column-count: 2;
    }
    .col-count-3 {
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

html, body {
  font-family: 'Open Sans', sans-serif;
}
* {
  outline: none!important;
}

@layer components {
  .btn {
    @apply w-full block uppercase text-btn border border-btn lg:text-base text-sm py-3 px-4 text-center hover:text-btn-hover transition-all duration-150
  }
  .container {
    @apply px-4;
    @screen sm {
      @apply px-6;
    }
    @screen lg {
      @apply px-8;
    }
  }
}
